<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head'); %>
    <style>
        .chatAvatar{
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <!-- Main Div starts -->
    <div id="app">
        <!-- Navigation starts -->
        <%- include('../layout/header'); %>
        <!-- Navigation ends -->

        <!-- Main Div starts -->
        <main class="py-4">
            <div class="container">
                <div class="container">    
                    <!-- @error('search') -->
                        <!-- <div class="alert alert-danger">Error Message</div> -->
                    <!-- @enderror -->           
                    <!-- @if(isset($user)) -->
                        <p class="lead">
                            Results on: Users
                        </p>
                        <ul class="list-group" id="user_listing">
                        <!-- @foreach($user as $u) -->
                        
                        <!-- <a href="./profile.html" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                            <div>
                                <img class="img-fluid chatAvatar"
                                src=""
                                alt="user img"> Viren Pratap
                            </div>
                            <span class="badge badge-danger badge-pill"><i class="fas fa-plus"></i> Follow</span>
                        </a> -->
                        <!-- <a href="./profile.html" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                            Viren Sharma
                            <span class="badge badge-danger badge-pill"><i class="fas fa-plus"></i> Follow</span>
                        </a> -->
                        <!-- @endforeach -->
                        </ul>
                    <!-- @endif   -->
                
                    <!-- @if(isset($post)) -->
                        <!-- <p class="lead mt-2">
                            Results on: Image (Viren)
                        </p>
                        <div class="card-columns"> -->
                            <!-- @foreach ($post as $p) -->
                                <!-- <div class="card  border-white">
                                    <a href="./singlePost" >
                                        <img class="card-img-top rounded-conrners preview"  src="/img/pexels-photo-674010.jpeg" alt="Searched Image">
                                    </a>
                                    <div class="card-footer d-flex justify-content-between" style="background-color: transparent; border-top : none;">
                                        <p class="h4 text-secondary">Title</p>
                                        <button type="button" data-toggle="tooltip" data-placement="top" title="tooltip" data-html="true" class="btn btn-link">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card  border-white">
                                    <a href="./singlePost" >
                                        <img class="card-img-top rounded-conrners preview"  src="/img/pexels-photo-674010.jpeg" alt="Searched Image">
                                    </a>
                                    <div class="card-footer d-flex justify-content-between" style="background-color: transparent; border-top : none;">
                                        <p class="h4 text-secondary">Title</p>
                                        <button type="button" data-toggle="tooltip" data-placement="top" title="tooltip" data-html="true" class="btn btn-link">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card  border-white">
                                    <a href="./singlePost" >
                                        <img class="card-img-top rounded-conrners preview"  src="/img/pexels-photo-674010.jpeg" alt="alt">
                                    </a>
                                    <div class="card-footer d-flex justify-content-between" style="background-color: transparent; border-top : none;">
                                      
                                        <p class="h4 text-secondary">Title</p>
                                        <button type="button" data-toggle="tooltip" data-placement="top" title="tooltip" data-html="true" class="btn btn-link">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </button>
                                    </div>
                                </div> -->
                                
                            <!-- @endforeach   -->
                        <!-- </div>  -->
                        
                    <!-- @endif   -->
                
                    
                    <!-- @if(isset($message)) -->
                        <!-- <p class="lead">This is message</p> -->
                    <!-- @endif   -->
                
                    
                </div> 
    
        </main>
        <!-- Main Div ends -->
    </div>
    <!-- Main Div ends -->
    <%- include('../layout/scripts'); %>
    <script src="/js/search.js"></script>
</body>
</html>