<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Collaborist | Profile</title>
    <link rel="icon" type="image/x-icon" href="../src/images/favicon/favicon.ico">
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Links -->
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"> 

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Styles -->
    <link href="../src/css/app.css" rel="stylesheet">

    <style> 
        .rounded-conrners {
            border-radius: 20px;
            border: none;
        }
        .preview {
            border: none;
        }       
        .preview:hover {
            border-style: solid;
            border-width: medium;
            border-color: #FF4136;
        }
        .avatar {
            /* vertical-align: middle; */
            width: 38.55px;
            height: 38.55px;
            border-radius: 50%;
        }
        .btn.dropdown-toggle::after {
    display: none;
  }

        /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
        @media screen and (max-width: 500px) {
            .nav-pc {
                display: none;
            }
            
        }    
    </style>
</head>
<body>
    <div id="app">
        <!-- Navigation starts -->
        <nav class="navbar navbar-expand navbar-light bg-light top">
          <div class="container">
              <a class="navbar-brand" href="../index.html">
                  <img src="../src/images/Collab.png" height="50" width="50" class="rounded-circle nav-mobile" alt="Collaborist Logo"> 
                  <span class="nav-pc">Collaborist</span> 
              </a>
              <form action="./search.html" method="GET" class="form-inline my-2 my-lg-0">
                  <input value="" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
              </form>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item mr-2">                            
                          <a href="./profile.html">
                              <img src="../src/images/profile_picture.png" alt="" class="avatar nav-mobile">
                              <span class="nav-pc">My profile</span> 
                          </a>                        
                      </li>
                      <li class="nav-item">
                        <a href="./create.html" class="btn btn-danger ">
                            <i class="fas fa-plus nav-mobile"></i>
                            <span class="nav-pc">New post</span> 
                        </a>
                    </li>
                
                  </ul>
              </div>
          </div>
      </nav>
     
      <!-- Navigation ends -->

      <!-- Main Div starts -->
        <main class="py-4">
            <button class="btn btn-danger dropdown-toggle" id="dropdownBtn" data-bs-toggle="dropdown">
                <i class="fas fa-plus nav-mobile"></i>
            </button>
            <ul class="dropdown-menu">
                <li><button class="dropdown-item" href="./create.html">Post</button></li>
                <li> <button class="btn dropdown-item" data-toggle="modal" data-target="#create-modal-board">Board</button></li>
            </ul>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                    <!-- @if(Auth()->user()->avatar === null) -->
                        <img style="width: 200px; height: 200px" src="../src/images/profile_picture.png" class="rounded-circle mx-auto d-block img-thumbnail" alt="profile_pic_">
                    <!-- @else -->
                        <!-- <img style="width: 200px; height: 200px" src="/images/profiles/{{Auth()->user()->avatar}}" class="rounded-circle mx-auto d-block img-thumbnail" alt="profile_pic_"> -->
                    <!-- @endif -->
                    <br>
                    <div class="row mx-auto d-block">
                        <div class="d-flex justify-content-center">            
                          <button type="button" data-toggle="modal" data-target="#edit_avatar_modal" class="btn btn-secondary btn-sm">
                            <!-- @if($user->avatar === null)  -->
                              <!-- Add avatar  -->
                            <!-- @else  -->
                              Edit avatar 
                            <!-- @endif -->
                          </button>             
                        </div>
                    </div>                  
                    </div>            
                    <div class="col-md-8">
                        <h2>Viren 
                            <!-- @if ( $user->id  ==  auth()->id())  -->
                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#edit_name_modal" >Edit</button>
                              <!-- @endif -->
                             </h2> 
                        <p>Joined: 18 January 2023</p>
                        <p class="lead">
                            <!-- @if($user->moto === null)
                              @if ( $user->id  ==  auth()->id()) -->
                                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#edit_moto_modal" >Add moto</button>
                              <!-- @endif -->
                            <!-- @else -->
                              <!-- @if ( $user->id  ==  auth()->id()) -->
                                <!-- {{$user->moto}} 
                                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#edit_moto_modal" >Edit</button> -->
                              <!-- @endif -->
                            <!-- @endif -->                       
                        </p>                        
                        <p>Total likes: <b>223</b></p>
                        <p>Total followers: <b>18</b></p>
                        <div class="card-columns">
                            <!-- @foreach ($user->posts as $p) -->
                                <div class="card  border-white mb-5">
                                    <a href="./singlePost.html" >
                                        <img class="card-img-top rounded-conrners preview"  src="../src/images/pexels-photo-674010.jpeg" alt="alt">
                                    </a>
                                    <div class="card-footer d-flex justify-content-between" style="background-color: transparent; border-top : none;">
                                        <p class="h4 text-secondary">Title</p>
                                        <button type="button" data-toggle="tooltip" data-placement="top" title="title" data-html="true" class="btn btn-link"  >
                                            <i class="fa fa-ellipsis-h" ></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card  border-white">
                                    <a href="./singlePost.html" >
                                        <img class="card-img-top rounded-conrners preview"  src="../src/images/pexels-photo-674010.jpeg" alt="alt">
                                    </a>
                                    <div class="card-footer d-flex justify-content-between" style="background-color: transparent; border-top : none;">
                                        <p class="h4 text-secondary">Title</p>
                                        <button type="button" data-toggle="tooltip" data-placement="top" title="title" data-html="true" class="btn btn-link"  >
                                            <i class="fa fa-ellipsis-h" ></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card  border-white">
                                    <a href="./singlePost.html" >
                                        <img class="card-img-top rounded-conrners preview"  src="../src/images/pexels-photo-674010.jpeg" alt="alt">
                                    </a>
                                    <div class="card-footer d-flex justify-content-between" style="background-color: transparent; border-top : none;">
                                        <p class="h4 text-secondary">Title</p>
                                        <button type="button" data-toggle="tooltip" data-placement="top" title="title" data-html="true" class="btn btn-link"  >
                                            <i class="fa fa-ellipsis-h" ></i>
                                        </button>
                                    </div>
                                </div>
                            <!-- @endforeach   -->
                        </div>            
                    </div>
                </div>
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="edit_name_modal" tabindex="-1" role="dialog" aria-labelledby="modalNameLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalNameLabel">Edit name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  <form action="#">
                    <div class="form-group ">
                        <label for="name" class="sr-only">Current Name</label>
                        <input name="name" value="Enter name here..." type="text"  class="form-control form-control-lg" id="name" placeholder="New name">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel edit</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                  </form> 
                </div>
              </div>
            </div>
            
            
            <!-- Modal -->
            <div class="modal fade" id="edit_moto_modal" tabindex="-1" role="dialog" aria-labelledby="modalMotoLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalMotoLabel">Edit moto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  <form  action="#">                    
                    <div class="form-group ">
                        <label for="moto" class="sr-only">User moto</label>
                        <textarea name="moto" class="form-control form-control-lg" id="moto" rows="3" placeholder="Type a new moto"></textarea>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel edit</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                  </form> 
                </div>
              </div>
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="edit_avatar_modal" tabindex="-1" role="dialog" aria-labelledby="modalAvatarLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalAvatarLabel">Edit Avtar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="#" enctype="multipart/form-data">                    
                        <div class="custom-file">
                          <input type="file" name="avatar" class="custom-file-input" id="customFile">
                          <label class="custom-file-label"  for="customFile">Choose file</label>
                        </div>                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel edit</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                  </form> 
                </div>
              </div>
            </div>
         <!--modal-create-->   
        <div class="modal fade" id="create-modal-board" tabindex="-1" role="dialog" aria-labelledby="modalBoard" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered board" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title font-weight-bolder" id="modalBoard">Create Board</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <form >
              <div class="form-group">
                  <label for="broadName">Name</label>
                  <textarea name="broadName" class="form-control form-control-lg rounded-2" id="broadName" rows="1" placeholder="Like places to go or your favourites"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <a href="./board.html" class="btn btn-secondary rounded-5">Create</a>
            </div>
          </form>
          </div>
        </div>
      </div>
                 
            </div>
            
        </main>
      <!-- Main Div ends -->
      

    </div>

    
</body>
<script src="../src/js/app.js"></script>
</html>