<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/Collab.png" height="50" width="50" class="rounded-circle nav-mobile" alt="Collaborist Logo"> 
            <span class="nav-pc">Collaborist</span> 
        </a>
        <div class="form-inline my-2 my-lg-0">
            <input id="searchString" value="" class="form-control mr-sm-2" type="search" autocomplete="off" placeholder="Search" aria-label="Search" name="search">
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-2 isLogin" id="navProfileBtn" style="cursor: pointer;">                            
                    <img src="" alt="" class="avatar nav-mobile" id="nav_image_logo">
                    <span class="nav-pc" id="navUserName"></span> 
                </li>
                <li class="nav-item mr-4 isLogin">
                    <a href="/pages/create" class="btn btn-danger ">
                        <i class="fas fa-plus nav-mobile"></i>
                        New post
                    </a>
                </li>
                <li class="nav-item mr-1 isLogin" id="messages">
                    <a href="/pages/messages" id="nav_messages" class="btn btn-outline-danger">
                        <i class="fas fa-message"></i>
                    </a>
                </li>
                <li class="nav-item mr-1 isLogin" id="notifications">
                    <a href="/pages/notifications" id="nav_notification" class="btn btn-outline-danger">
                        <i class="fas fa-bell nav-mobile"></i>
                    </a>
                </li>
                <li class="nav-item isLogin" id="navlogoutButton">
                    <button class="btn btn-danger">
                        <i class="fas fa-power-off nav-mobile"></i>
                    </button>
                </li>
                <li class="nav-item notLogin">
                    <a href="/pages/login" class="btn btn-danger">
                        Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>