<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Collaborist | Login</title>
<link rel="icon" type="image/x-icon" href="/img/favicon/favicon.ico">
<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- Links -->
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"> 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Styles -->
<link href="/css/app.css" rel="stylesheet">

<style> 
    .rounded-conrners {
        border-radius: 20px;
        border: none;
    }
    .preview {
        border: none;
    }       
    .preview:hover {
        border-style: solid;
        border-width: medium;
        border-color: #FF4136;
    }
    .avatar {
        /* vertical-align: middle; */
        width: 38.55px;
        height: 38.55px;
        border-radius: 50%;
    }
    .btn.dropdown-toggle::after {
      display: none;
    }
    /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
    @media screen and (max-width: 500px) {
        .nav-pc {
            display: none;
        }
    }    
</style>