<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/Collab.png" height="50" width="50" class="rounded-circle nav-mobile" alt="Collaborist Logo"> 
            <span class="nav-pc">Collaborist</span> 
        </a>
        <form action="/pages/search" method="GET" class="form-inline my-2 my-lg-0">
            <input value="" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
        </form>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-2">                            
                    <a href="/pages/profile">
                        <img src="/img/profile_picture.png" alt="" class="avatar nav-mobile">
                        <span class="nav-pc">My profile</span> 
                    </a>                        
                </li>
                <li class="nav-item">
                    <a href="/pages/create" class="btn btn-danger ">
                        <i class="fas fa-plus nav-mobile"></i>
                        New post
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>